.message {
    display: grid;
    grid-template-areas: "mess pD";
    width: 400px;
    margin: 10px;
}
.messageResponder {
    display: grid;
    grid-template-areas: "pD mess";
    width: 400px;
    margin: 10px;
    margin-left: 215px;
}

.image {
    width: 100px;
    height: 100px;
    margin-left: 20px;

}

.image img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

div div.postDetails {
    padding: 5px;
    border-radius: 5px 5px 5px 0px;
    grid-area: pD;
    background-color: black;
    color: white;
    position: relative;
}
div div.postDetailsRight {
    padding: 5px;
    border-radius: 5px 5px 5px 0px;
    grid-area: pD;
    background-color: black;
    color: white;
    position: relative;
}

div div.postDetails:before {
    position: absolute;
    content: '';
    border: 10px solid transparent;
    border-bottom-color: black;
    bottom: 0px;
    left: -10px;
}

div div.postDetailsRight:before {
    position: absolute;
    content: '';
    border: 10px solid transparent;
    border-bottom-color: black;
    bottom: 0px;
    right: -10px;
}

div div.message {
    grid-area: mess;
}

.postText {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "text text data"
}

.text {
    grid-area: text;
}

.date {
    grid-area: data;
}

.name{
    font-size: 30px;
    font-weight: bold;
}